:root .theme_dark {
  --header-color: #db00ff;
  --primary-color: #f1b2ce;
  --secondary-color: #000028;
  --accent-color: #ff0070;
  --semi-transparent-accent-color: #ff006f80;
  --background-color: #00183f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #db00ff;
    --primary-color: #f1b2ce;
    --secondary-color: #000028;
    --accent-color: #ff0070;
    --semi-transparent-accent-color: #ff006f80;
    --background-color: #00183f;
  }

  html:has(.theme_auto) {
    color-scheme: dark;
  }
}

html:has(.theme_dark) {
  color-scheme: dark;
}
