:root .theme_light {
  --header-color: #ffc2e6;
  --primary-color: #353430;
  --secondary-color: #fff1f7;
  --accent-color: #ff8dcb;
  --semi-transparent-accent-color: #ff8dcc80;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: #ffc2e6;
    --primary-color: #353430;
    --secondary-color: #fff1f7;
    --accent-color: #ff8dcb;
    --semi-transparent-accent-color: #ff8dcc80;
  }
  html:has(.theme_auto) {
    color-scheme: light;
  }
  .page.theme_auto {
    background-image: url(./../images/cover-image-light.png);
  }
  .theme_auto .decorated-zone__rec {
    display: none;
  }
}

html:has(.theme_light) {
  color-scheme: light;
}

.page.theme_light {
  background-image: url(./../images/cover-image-light.png);
}

.theme_light .decorated-zone__rec {
  display: none;
}
